DB_HOST=127.0.0.200
DB_PORT=5432
DB_NAME=starkindustrial_configurador
DB_USER=starkindustrial_configurador
DB_PASSWORD=Configurador@123
DB_SSL=false

PORT=3001
JWT_SECRET=stark-configurador-chave-temporaria-2026
JWT_EXPIRES_IN=7d
FRONTEND_URL=http://localhost:5173